@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Redis message queue light</a></p>
    <a asp-action="Index" class="btn btn-primary">Send message in queue</a>
</div>